html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #e1d8ec;
}

header {
    h4 {
        a {
            font-family: Camphor, Open Sans, Segoe UI, sans-serif;
            color: #747fe0;
            font-weight: bolder;
        }
    }
}

p {
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
}

.intro{
    font-family: Georgia, serif;
font-size: 20px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: none;
}

#project,
#contact {
    color: #5c6186;
}

.editor-h {
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}

.editor-b {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.name {
    h1 {
        font-size: 4.5em;
        font-family: Camphor, Open Sans, Segoe UI, sans-serif;
        color: #747fe0;
    }
    .beep {
        font-size: 1em;
        height: 10px;
        background-color: #747fe0;
    }
}

.text-wrap {
    word-wrap: normal;
}

.card {
    -webkit-box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.38);
}

.editor {
    background-color: #5a5d7a;
    line-height: 24px;
    p {
        font-size: 1rem;
        font-family: Monaco, Consolas, Lucida Console, monospace;
    }
    -webkit-box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.38);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.beep {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.string {
    color: rgb(199, 171, 13);
}

.link {
    color: aqua;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width:768px) {
    .header {
        margin: auto;
    }
    .name {
        h1 {
            font-size: 2.5em;
        }
        .beep {
            font-size: 1.8em;
        }
    }
}

.card {
    margin-top: 50px;
}